body {
    background-color: #ffffff;
}

.story {
    background: linear-gradient(to bottom, rgb(159, 196, 255), #69aaff);
    padding: 20px 0 20px 0;
    text-align: center;
    height: 70vh;
    width: 80vw;
    border-radius: 50px;
    margin-left: 10%;
    overflow-y: scroll; //only scrolling the book up and down
    
    .cover {
        color: #ffffff;
        padding: 20px;

        h1 {
            font-family: "KawaiiBubble-Regular";
            font-size: 160px;
            letter-spacing: 14px;
        }

        p {
            padding: 20px;
            font-family: 'Dudu_Calligraphy';
            font-size: 24px;
            text-align: left;
        }

        .sub {
            text-align: center;
            padding: 0px;
        }
    }

    .ch {
        padding: 20px;
        text-align: left;
        line-height: 1.5;

        p {
            padding: 20px;
            font-family: 'Dudu_Calligraphy';
            font-size: 24px;

            span {
                font-size: 50px;
                font-weight:bolder;
            }

        }

        &.last {
            margin-top: 12%;
            text-align: center;

            p {
                font-size: 30px;
            }
        }

        img {
            border: black solid 3px;
            width: 20%;
            height: 100%;
        }
    }
}

.btn {
    text-align: center;
    justify-content: center;
    margin-top: 1%;
    display: flex;

    button {
        border-radius: 50%;
        font-size: 15px;
        margin: 0 10px;
        padding: 5px 10px;
        border: none;
        color: rgb(34, 25, 99);

        &:hover {
            background-color: rgb(27, 46, 110);
            color: rgb(255, 255, 255);
        }
    }
}

//for large mobile
@media only screen and (max-width:425px) {
    
}

//for tablet
@media only screen and (max-width:768px) {
    
}