@font-face {
    font-family: 'KawaiiBubble-Regular';
    src: url(../fonts/KawaiiBubble-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Dudu_Calligraphy';
    src: url(../fonts/Dudu_Calligraphy.ttf) format('truetype');
}